/* IMPOSTAZIONI GENERALI */
body{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-position: 100%;
    background-image: url(../img/sfondo.png)
    
    
}

/* HEADER */
header div{
    background-color: rgb(81, 81, 255);
    color: white;
    text-align: center;
    border-width: 2px;
    border-color: black;
}

/* MAIN */
main{
    background-color: white;
    margin: 20px;
 padding: 40px;
}
strong{ color: rebeccapurple;}
main span{background-color: grey;}

/* ELEMENTI NEL MAIN - ARTICLE */
iframe{
    width: auto;
}

/* TABELLE */
#toptab{
    background-color: blue;
   height: 70px;
   text-align: center;
}
table{border-bottom: 10px;
border-color: blue;}
/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer{
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    

}